body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.upperContainer {
  display: flex;
  width: 70%;
  margin: 100px;
  align-items: center;
}

.upperContainer > h1 {
  position: absolute;
  left: 450px;
  top: 500px;
  color: white;
  font-size: 4em;
}

.mainImage {
  height: 600px;
  width: 600px;
  object-fit: cover;
}

.upperText {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 25px;
  border: solid 1px black;
  height: 400px;
}

.upperText > h2 {
  margin: 0;
}

.upperText > div {
  margin-left: auto;
}

.logo {
  height: 30px;
}

.midContainer {
  width: 70%;
}

.midContainer>h3 {
    font-size: 2.5em;
    margin: 0;
    margin-bottom: 25px;
}

.workContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 50px;
}

.workContainer div {
  height: 400px;
  background-color: red;
}

footer {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 100px;
}

.footerImg {
    height: 500px;
    width: 600px;
    object-fit: cover;
}
