.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  background: linear-gradient(170deg, #087abd 25.5%, #ffffff 25.6%);
  font-family: "Roboto", sans-serif;
}

.upperContainer {
  display: flex;
  width: 70%;
  margin: 100px;
  align-items: center;
  justify-content: space-between;
}

.upperContainer > h1 {
  position: absolute;
  left: 450px;
  top: 500px;
  color: white;
  font-size: 4em;
  z-index: 1;
  font-weight: 100;
  text-shadow: 3px 3px 5px #0000007e;
}

.mainImage {
  height: 600px;
  width: 600px;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 1;
}

.upperText {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 40px;
  height: 100%;
  font-size: 2.2em;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.upperText > h2 {
  margin: 0;
}

.upperText > p {
  font-weight: 100;
}

.upperText > div {
  margin-left: auto;
}

.logo {
  height: 40px;
  margin: 0 10px 0 10px;
}

.midContainer {
  width: 70%;
  margin: 50px 0 120px 0;
}

.midContainer > h3 {
  font-size: 2.5em;
  margin: 0;
  margin-bottom: 25px;
}

.workContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 50px;
}

.workContainer > div {
  height: 475px;
  background-color: rgb(255, 244, 143);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: grid;
  grid-template-rows: 2fr 1fr;
}

.workContainer > div > h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  margin: 0;
  text-align: center;
  padding: 30px;
}

.projectText {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  background-color: #ffffff;
  margin: 0;
  padding: 10px 30px 30px 30px;
}

.projectText > div {
  display: flex;
  width: 100%;
  align-items: center;
  font-size: 1.5em;
  height: 60px;
}

.projectText > div > img {
  height: 30px;
  margin-left: auto;
}

.projectText > div > svg {
  height: 30px;
}

.footerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #087abd;
}

footer {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px;
  font-size: 2em;
}

.footerText{
  padding-right: 30px;
}

.footerText > h4 {
  margin: 10px 0 10px 0;
  font-size: 1.2em;
}

.footerImg {
  height: 500px;
  width: 600px;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media (min-width: 840px) and (max-width: 1800px) {
  body {
    background: linear-gradient(170deg, #087abd 15%, #ffffff 15.1%);
  }

  .upperContainer {
    display: inline-block;
    width: 80%;
    margin: 50px;
    height: 100%;
    margin-top: 150px;
  }

  .upperContainer > h1 {
    position: absolute;
    left: 58%;
    top: 20px;
  }

  .mainImage {
    height: 360px;
    width: 360px;
    transform-origin: bottom right;
    transform: scale(1.2);
    object-fit: cover;
    float: left;
    margin: 20px;
  }

  .upperText {
    display: block;
    justify-content: center;
    height: 100%;
    border: none;
  }

  .upperText > div {
    display: none;
  }

  .midContainer {
    width: 80%;
  }

  footer {
    width: 80%;
    font-size: 1.8em;
  }

  .footerImg {
    width: 370px;
    height: 450px;
  }
}

@media (max-width: 840px) {
  body {
    background: linear-gradient(165deg, #087abd 9%, #ffffff 9.1%);
  }

  .upperContainer {
    width: 90%;
    margin: 30px 0 40px 0;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .mainImage {
    height: 500px;
    width: 100%;
    object-fit: cover;
    margin: 10px;
  }

  .upperContainer > h1 {
    position: absolute;
    left: 20px;
    right: 0;
    top: 380px;
    text-align: center;
  }

  .upperText {
    background-color: transparent;
    align-items: center;
    border: none;
    height: 100%;
    margin: 50px 0 0 0;
    box-shadow: none;
    padding: 0;
  }

  .upperText > div {
    margin-left: 0;
  }

  .midContainer {
    width: 90%;
  }

  footer {
    margin: 0;
    width: 100%;
    flex-flow: column;
  }

  .footerText {
    width: 90%;
    display: flex;
    flex-flow: column;
    margin: 50px 0 50px 0;
  }

  .footerText > div {
    align-self: center;
  }

  .footerImg {
    width: 100%;
    transform-origin: top;
  }
}
