body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  background: linear-gradient(165deg, #087abd 26%, #ffffff 26.1%);
}

.upperContainer {
  display: flex;
  width: 70%;
  margin: 100px;
  align-items: center;
  justify-content: space-between;
}

.upperContainer > h1 {
  position: absolute;
  left: 450px;
  top: 500px;
  color: white;
  font-size: 4em;
}

.mainImage {
  height: 600px;
  width: 600px;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.upperText {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 25px;
  height: 400px;
  font-size: 2.2em;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.upperText > h2 {
  margin: 0;
}

.upperText > div {
  margin-left: auto;
}

.logo {
  height: 40px;
  margin: 0 10px 0 10px;
}

.midContainer {
  width: 70%;
  margin: 50px 0 100px 0;
}

.midContainer > h3 {
  font-size: 2.5em;
  margin: 0;
  margin-bottom: 25px;
}

.workContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 50px;
}

.workContainer div {
  height: 500px;
  background-color: red;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.footerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #087abd;
}

footer {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px;
}

.footerImg {
  height: 500px;
  width: 600px;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media (min-width: 840px) and (max-width: 1024px) {
  body {
    background: linear-gradient(165deg, #087abd 13%, #ffffff 13.1%)
  }

  .upperContainer {
    display: inline-block;
    width: 80%;
    margin: 50px;
    height: 100%;
    margin-top: 150px;
  }

  .upperContainer > h1 {
    position: absolute;
    left: 500px;
    top: 20px;
  }

  .mainImage {
    height: 360px;
    width: 360px;
    transform-origin: bottom right;
    transform: scale(1.2);
    object-fit: cover;
    float: left;
    margin: 20px;
  }

  .upperText {
    display: block;
    justify-content: center;
    height: 100%;
    border: none;
  }

  .upperText > div {
    display: none;
  }

  .midContainer {
    width: 80%;
  }

  footer {
    width: 80%;
  }

  .footerImg {
    width: 370px;
    height: 400px;
  }
}

@media (max-width: 840px) {
  body {
    background: linear-gradient(165deg, #087abd 9%, #ffffff 9.1%)
  }

  .upperContainer {
    width: 90%;
    margin: 30px 0 40px 0;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .mainImage {
    height: 500px;
    width: 100%;
    object-fit: cover;
    margin: 10px;
  }

  .upperContainer > h1 {
    position: absolute;
    left: 30%;
    top: 380px;
  }

  .upperText {
    background-color: transparent;
    align-items: center;
    border: none;
    height: 100%;
  }

  .upperText > div {
    margin-left: 0;
  }

  .midContainer {
    width: 90%;
  }

  footer {
    margin: 0;
    width: 100%;
    flex-flow: column;
  }

  .footerText {
    display: flex;
    flex-flow: column;
    margin: 50px 0 50px 0;
  }

  .footerText > div {
    align-self: center;
  }

  .footerImg {
    width: 100%;
    transform-origin: top;
  }
}
